<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img src="<%=camp.image%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=camp.title%></h5>
        <p class="card-text"><%=camp.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%=camp.location%></li>
        <li class="list-group-item">Price: $<%=camp.price%></li>
        <li class="list-group-item"><%=camp.description%></li>
      </ul>
      <div class="card-body">
        <a href="/neercamp/<%=camp._id%>/edit" class="card-link btn btn-info"
          >Edit</a
        >

        <form
          class="d-inline"
          action="/neercamp/<%=camp._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <footer>
        <a class="btn btn-inline-success" href="/neercamp">All camps</a>
      </footer>
    </div>
  </div>
</div>
